@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
#header{
    font-family: "Montserrat",sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.head-container{
    background-color: transparent;
    transition: 0.4s ease ;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1%;
}
.list ul li{
    list-style: none;
    display: inline;
    padding-inline:20px;
    letter-spacing: 2.5px;
    font-size: larger;
}
.list ul li a{
    color: white;
    text-transform: uppercase;
}
.list ul li a:hover{
    color: crimson;
}
.brand h1 span{
    color: crimson;
    font-weight: 700;
}
.brand h1{
    color: white;
    letter-spacing: 1px;
    font-size: larger;
    font-size: xx-large;
    font-weight: 400;
}

/* INTRO SECTION */

#introduction{
    padding: 15% 90px;
    background-image: url(./images/pexels-joshsorenson-1714208.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.intro{
    font-size: 2.5rem;
    color: white;
    font-family: "Montserrat";
}
.intro h1{
    font-weight:400;
}
.intro span{
    color: crimson;
}
#btn{
    margin-top: 20px;
    margin-left: 30px;
}
.btn{
    color: crimson;
    border: 2px solid crimson;
    padding: 6px 30px;
    font-family: "Montserrat";
    font-size: 25px;
}
.btn:hover{
    color: white;
    background-color: crimson;
}

/* SERVICE AECTION */

.service-intro{
    text-align: center;
    margin: 5% 30%;
    font-family: "Montserrat", sans-serif;
}
.service-intro h1{
    font-size: xxx-large;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 300;
    
}
.service-intro span{
    color: crimson;
}
.options img{
    width: 80px;
    
}
.options{
    display: flex;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    padding:0 5% ;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
}
.s-1{
    
    background-image: url(./images/background-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    width: 240px;
    height: 300px;
    color: white;
    border-radius: 10px;
    padding: 20px;
}
.s-1 h3{
    margin-top: 15px;
}
.s-1:hover{
    scale: 1.1;
    transition: 0.8s;
    cursor: pointer;
}

/* PROJECT SECTION  */


#projects{
    font-family: "Poppins";
}
#projects h1{
    text-align: center;
    font-weight: 80;
    font-size: xxx-large;
    margin-bottom: 4%;
}
#projects span{
    color: crimson;
}
.project-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    background-image:linear-gradient(to bottom,#bdc3c7, #2c3e50) ;
}
.proj-image{
    overflow: hidden;
    position: relative;
}
.project-1 img{
    width: 565px;
    transition: 0.4s ease transform;
    margin-bottom: -10px; 
}
.project-1 img:hover{
    transform: scale(1.1);
}
.project-info{
    margin: 50px;
}
.project-info h3{
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: 100;
    color: white;
}
.project-info p{
    color: white;
    font-weight: 100;
}
.project-info  i{
    color: white;
    font-family: "Montserrat",sans-serif;
    font-size: larger;    
}

/* ABOUT ME SECTION */

#about{
    font-family: "Montserrat",sans-serif;
    margin: 0 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.image img{
    width: 230px;
    height: 295px;
    margin-top: -20%;
    margin-left:18% ;
    border: 10px solid white;
}
.image{
    border: 10px solid crimson;
    margin-bottom:-30px ;
    margin-left: -40px;
}
.my-info{
    display: flex;
    justify-content: center;
}
.about-me{
    margin-left:50px ;
}
.about-me span{
    color: crimson;
}
.about-me h1{
    font-size: xxx-large;
    font-weight: 300;
}
.about-me a{
    border: 3px solid crimson;
    padding: 13px 18px;
    margin-top: 40px;
    color: black;
}
.about-me a:hover{
    background-color: crimson;
    color: white;
}

/* CONTACT SECTION */

#contact > h1{
    font-family: "Montserrat",sans-serif;
    font-size: xxx-large;
    text-align: center;
}
#contact h1{
    font-weight: 300;
}
#contact span{
    color: crimson;
}
.contact-me{
    margin:80px 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.diff-contact{
    align-items: center;
    display: flex;
    padding: 4% 4%;
    border-radius: 10px;
    box-shadow: 2px 3px 10px black;
}
.diff-contact div{
    margin-left: 30px;
}
.diff-contact-3{
    align-items: center;
    display: flex;
    padding: 4% 2%;
    border-radius: 10px;
    box-shadow: 2px 3px 10px black;
}

/* FOOTER SECTION */

footer{
    margin-top: 20px;
    background: rgb(116, 198, 228);
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(to left,rgb(57, 55, 55),rgb(93, 71, 71),rgb(177, 179, 238));
}
.footer h1{
    font-weight: 200;
}
.footer-section span{
    color: crimson;
}

.avatars {
    --avatar-count:10;
    --avatar-size:50px;
    --transition-duration: 500ms;
}
.avatar{
    width: var(--avatar-size);
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100vw;
    border: 5px solid white;
    box-shadow: .25rem .25rem .5rem hsl(0 0% 0% / .2);
    transition: var(--transition-duration);
    background-color: wheat;
}

.avatar:hover,
.avatar:focus { 
        scale:1.4;  
        z-index: 2; 
}



/* MEDIA QUERY SECTION */

@media (max-width: 420px){
    .hamburger-button{
        border:2.5px solid white;
        height: 50px;
        width: 50px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 100;
        transform:scale(0.7);
    }
    .hamburger-button::after{
        content:"";
        border: 3px solid white;
        height: 100%;
        width: 100%;
        position: absolute;
        animation: hamburger-button 1s ease infinite;
        border-radius: 50%;
    }
    @keyframes hamburger-button {
        0%{
            opacity: 1;
            transform: scale(1);
        }
        100%{
            opacity: 0;
            transform: scale(1.5);
        }
    }
    .hamburger-button .bar{
        background-color: white;
        height: 2.5px;
        width: 30px;
        position: relative;
        z-index: -1;
    }
    .hamburger-button .bar::before,
    .hamburger-button .bar::after{
        content: "";
        height:100%;
        width: 100%;
        background-color: white;
        position: absolute;
        left: 0;
        transition: 0.4s ease top, bottom;
    }
    .hamburger-button .bar::after{
        top: 8px;
    }
    .hamburger-button .bar::before{
        bottom: 8px;
    }
    .hamburger-button.active .bar::before{
        bottom: 0;
    }
    .hamburger-button.active .bar::after{
        top: 0;
    }
    .list ul{
        list-style-type: none;
        background-color: rgb(31,30,30);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100vw;
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 5;
        overflow-x: hidden;
        transition: 0.4s ease left;
    }
    
    .list ul.active{
        left: 0;
    }
    .list ul li a{
        color:white;
        font-weight: 500;
        font-size: 2rem;
        letter-spacing: 0.25rem;
        text-decoration: none;
        color: white;
        padding-top: 40px;
        display: block;
        text-transform: uppercase;
        font-family: 'Poppins';
    }
    .list ul li a::after{
        content: attr(data-after);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: rgb(240,248,255,0.021);
        font-size: 13rem;
        z-index: -1;
        letter-spacing: 50px;
        transition: 0.3s ease letter-spacing;
    }
    .list ul li:hover a::after{
        transform: translate(-50%,-30%) scale(1);
        letter-spacing: initial;
    }
    .list ul li:hover a{
        color: crimson;
    }
}